.navegation_component {
  border-bottom: 1px solid #BDBDBD;
  padding: 0 50px;
  position: relative;
}

.navegation_divContainer {
  display: flex;
  justify-content: space-between;
}

.navigation_button {
  padding: 23px 0 15px 0;
  width: 89px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--text-titles);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* .navegation_divFocus {
  height: 4px;
  width: 89px;
  background-color: var(--blue);
  background-color: transparent;
  border-radius: 4px 4px 0 0;
} */

.navegation_divButton.all.active > .navegation_divFocus{
  background-color: var(--blue);
}

.navegation_divButton.act.active > .navegation_divFocus{
  background-color: var(--blue);
}

.navegation_divButton.completed.active > .navegation_divFocus{
  background-color: var(--blue);
}

.navegation_divFocuss {
  position: absolute;
  top: 51px;
  height: 4px;
  width: 89px;
  background-color: var(--blue);
  border-radius: 4px 4px 0 0;
  transition: all ease 0.5s;
}
