.navegation_component {
  border-bottom: 1px solid #BDBDBD;
  padding: 0 50px;
  margin-bottom: 18px;
}

.navegation_divContainer {
  display: flex;
  justify-content: space-between;
}

.navigation_button {
  padding: 19px 0 15px 0;
  width: 89px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--text-titles);
  background-color: transparent;
  border: none;
}

.navegation_divFocus {
  height: 4px;
  width: 89px;
  background-color: var(--blue);
  border-radius: 4px 4px 0 0;
}
