.allSection_divContent {
  display: flex;
  flex-direction: column;
  gap: 29px;
}
.allSection_divInput {
  display: flex;
  gap: 7px;
}

.allSection_checkbox {
  height: 24px;
  width: 24px;
  border-radius: 4px;
  border: 1px solid #828282;
}

.allSection_pTask {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.allSection_pTask.completed {
  text-decoration: line-through;
}
