:root {
  --blue: #2F80ED;
  --text-titles: #333333;
  --text-placeholder: #828282;
}

.App {
  max-width: 608px;
  margin: 0 auto;
  padding-top: 32px;
}

h1 {
  text-align: center;
  margin-bottom: 38px;
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: var(--text-titles);
}
